---
title: AY | About menu
subtitle: about me
---
<html>
  {% include head.html %}
  <body>

    {% include header.html %}

    <div class="container">
      <div class="row">
        <div class="column column--12-of-12">
          <div class="text-container">

            <div class="about">
              <img src="" alt="" class="about__image">
              <p class="about__text">
                Hey once again! I am Arman. I am a frontend developer based in Astana.
              </p>
              <p class="about__text">
                I love designing and building user interfaces. I am very passionate about web
                development because I tend to believe that web is like a magic world. It allows me and
                my fellows colleagues to create probably any user interfaces we want and that is fantastic.
              </p>
              <p class="about__text">
                The idea of creative freedom in web excites me and gives motivation to learn something new day in and day out.
                Also the community of web development never lets me get bored or lose my passion. Everyday someone comes up
                with something interesting and blowing my mind. And that what pushes me every other day to develop my skills and
                stay passionate.
              </p>
              <p class="about__text">
                So far I have participated in several non-commercial projects.
                You can see them in my <a href="/works" class="link">works</a> section.
              </p>
              <p class="about__text">
                You can find me on
                <a href="http://www.facebook.com/ayessymkanov" class="link">Facebook</a>,
                <a href="http://www.github.com/ayessymkanov" class="link">Github</a>,
                <a href="http://www.linkedin.com" class="link">LinkedIn</a>,
                <a href="http://www.instagram.com/ayessymkanov" class="link">Instagram</a>
                or email <a href="mailto: arman.yessymkanov@gmail.com" class="link">me</a> if I can
                help you with something.
              </p>
            </div>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
