---
title: AY | Contact me
subtitle: Contact me
---

<html>
  {% include head.html %}
  <body>

    {% include header.html %}
    <div class="container">
      <div class="row">
        <div class="column column--12-of-12">
          <h1 class="contact-title">Feel free to write me if I can help you with something.</h1>
          <div class="text-container">
            <form action="http://formspree.io/arman.yessymkanov@gmail.com" method="POST" class="contact-form">
              <div class="row row--m-full">
                <div class="column column--5-of-12">
                  <label for="name" class="contact-form__label">Your name</label>
                  <input type="text" name="name" placeholder="Jon" class="contact-form__input" required>
                </div>
                <div class="column column--stretch">
                  <label for="email" class="contact-form__label">Your email</label>
                  <input type="email" name="_replyto" placeholder="snow@wall.com" class="contact-form__input" required>
                </div>
              </div>
              <div class="row row--m-full">
                <div class="column column--12-of-12">
                  <label for="subject" class="contact-form__label">Subject</label>
                  <input type="text" name="subject" placeholder="Winter" class="contact-form__input">
                </div>
              </div>
              <div class="row row--m-full">
                <div class="column column--12-of-12">
                  <label for="message" class="contact-form__label">Your message</label>
                  <textarea name="message" rows="8" placeholder="Winter is coming..." class="contact-form__input" required></textarea>
                </div>
              </div>
              <div class="row row--m-full">
                <div class="column column--6-of-12"></div>
                <div class="column column--6-of-12">
                  <input type="submit" value="Send" class="contact-form__input contact-form__input--submit">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
