---
title: AY | Works
subtitle: works
---
{% include head.html %}

<body>

  {% include header.html %}

  <div class="container">
    <div class="row">
      <div class="column column--12-of-12">

        <ul class="works-list">

          {% for work in site.categories.work %}

            <li class="work">
              <a href="{{work.url}}" class="work__link">
                <img src="{{work.link}}" alt="" class="work__image">
                <h4 class="work__title">{{work.title}}</h4>
              </a>
            </li>

          {% endfor %}
        </ul>

      </div>
    </div>
  </div>

</body>
