<footer>
  <div class="container">
    <div class="row row--centered row--no-margin">
      <div class="column column--6-of-12 column--hor-center">
        Arman Yessymkanov &copy; 2016
      </div>
    </div>
    <div class="row row--centered row--no-margin">
      <div class="column column--6-of-12 column--hor-center">
        <a href="http://www.github.com/ayessymkanov" class="link footer-link">Github</a>
        <a href="http://www.codepen.io/ayessymkanov" class="link footer-link">Codepen</a>
        <a href="http://www.facebook.com/ayessymkanov" class="link footer-link">Facebook</a>
        <a href="http://www.linkedin.com" class="link footer-link">Linkedin</a>
      </div>
    </div>
  </div>
</footer>
