.works-container
  border: 1px solid black
  display: flex
  flex-wrap: wrap

.work
  flex: 1 300px
  border: 1px solid orangered
  margin-right: 20px
  margin-bottom: 20px

  &:nth-child(3n), &:last-child
    margin-right: 0
