.works-list
  display: block
  width: fit-content
  margin: 0 auto
  // border: 1px solid red
  list-style-type: none
  // text-align: center
  padding: 20px

.work
  display: inline-block
  width: calc(33.333% - 20px)
  margin: 0 20px 20px 0
  padding: 20px 20px 0 20px
  vertical-align: top
  text-align: center
  border-radius: 5px
  box-shadow: 0 0  10px rgba(0,0,0,0.2)
  &:nth-child(3n)
    margin-right: 0

    @media(max-width: 800px)
      margin-right: 20px

  @media(max-width: 800px)
    width: calc(50% - 20px)

@media(max-width: 800px)
  .work:nth-child(even)
    margin-right: 0

.work__link:hover
  text-decoration: none

.work__title
  margin: 0
  padding: 10px 0
  color: $my_grey
